* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  font: 14px/150% Arial;
}

a {
  color: currentcolor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  border-bottom: 6px solid #113388;
  font-family: "trebuchet ms";
  font-size: 40px;
  margin-bottom: 15px;
  padding-bottom: 18px;
}

h2 {
  font-weight: normal;
}

.card {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 0px #cccccc;
  color: #333333;
  display: flex;
  margin-top: 2em;
  padding: 1.4em;
}

.card img {
  width: 220px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 3em 1.5em;
}
