.flex-vertical-center {
  align-items: center;
  display: flex;
}

.margin-bottom-sm { margin-bottom: 0.5em; }
.margin-left-sm { margin-left: 0.5em; }

.margin-top { margin-top: 1em; }
.margin-right { margin-right: 1em; }
.margin-bottom { margin-bottom: 1em; }
.margin-left { margin-left: 1em; }

.text-center { text-align: center; }
