* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background-color: #252560;
  color: #393939;
  font: 14px tahoma, verdana, arial, sans-serif;
  margin: 0px auto;
  max-width: 1000px;
  min-width: 600px;
}

h3 { font-size: 16px; font-weight: normal; }
p, ul { margin-bottom: 15px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #0000ff; }
a img { border: none; }

.center { text-align: center; }
.flex { display: flex; }
.margin-top { margin-top: 10px; }

#banner { padding: 14px 10px; font: 44px georgia, serif; background-image: url('images/banner.jpg'); }
#banner a { color: #000; }
#banner a:hover { text-decoration: none; }

#nav { font-size: 16px; padding: 8px 0px; background-color: #222; }
#nav a { color: #fff; padding: 8px 30px; }
#nav a.current { background-color: #2050a8; }
#nav a:hover { background-color: #4070c8; text-decoration: none; }

#content {
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 50px;
  padding: 25px;
}

#left_sidebar {
  line-height: 150%;
  margin-right: 20px;
  width: 25%;
}
#search-captions {
  font-size: 1.1em;
  padding: 6px;
  width: 100%;
}
#search-albums a {
  outline: none;
}

#thumbnails a {
  text-decoration: none;
}

.thumbnail {
  height: 100px;
}
.full-image {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
  padding: 6px;
}

.album-list li {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  list-style: none;
  padding: 10px;
}
.album-list li:hover, .album-list li.active {
  background-color: #f0f0f0;
}

.slideshow-image-wrapper img {
  max-height: 100%;
  max-width: 100%;
}
.slideshow-caption {
  height: 1.5em;
}
.slideshow-controls img {
  cursor: pointer;
  padding: 0px 7px;
}
