* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dddddd;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.container {
  box-shadow: 0px 7px 7px #aaaaaa;
  margin: 0 auto 60px auto;
  max-width: 900px;
}

.player {
  background-color: #337799;
  box-shadow: 0px 1px 6px #777777;
  padding: 2em 2em 1em 2em;
  position: sticky;
  top: 0;
}

audio {
  border-radius: 4px;
  width: 100%;
}

.current-song {
  color: #ffffff;
}

.song-list {
  width: 100%;
}

.song-row:nth-child(odd) {
  background-color: #f4f4f4;
}

.song-row:nth-child(even) {
  background-color: #ffffff;
}

.song-row td {
  border-top: 1px solid #eaeaea;
  padding: 0.5em 0;
}

.song-row:first-child td {
  padding-top: 1em;
}

.song-row td:first-child {
  padding-left: 1.3em;
}

.song-row td:last-child {
  padding-right: 2em;
}

.play-song {
  align-items: center;
  border: 2px solid #337799;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding-left: 3px;
  visibility: hidden;
  width: 32px;
}

.play-triangle {
  border-color: transparent;
  border-left-color: #337799;
  border-style: solid;
  border-width: 7px 0 7px 12px;
  height: 0;
  width: 0;
}

.song-row:hover .play-song {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }

  .container {
    margin: 0;
  }

  .artist-name {
    display: none;
  }
}
