<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jesse's Fair Slot Machine</title>
  <link type="text/css" rel="stylesheet" href="../utilities.css">
  <link type="text/css" rel="stylesheet" href="slots.css">
</head>

<body>
  <div id="container">
    <div id="slots">
      <img v-for="num in results" :src="`images/${images[num]}`">
    </div>

    <div class="margin-top-x text-center">
      <button id="spin" @click="spin">SPIN</button>
    </div>

    <div id="status" class="margin-top-x">
      <div>
        <div class="small gray margin-bottom-sm">Money</div>
        <div id="money">${{money}}</div>
      </div>
      <span id="message" :class="{ red: redMessage }">{{message}}</span>
    </div>

    <div class="small gray margin-top-xx">Change bet</div>
    <div id="bets" class="margin-top-sm">
      <span v-for="amount in betOptions" @click="selectedBet = amount" :class="{ selected: selectedBet === amount }">
        {{betLabel(amount)}}
      </span>
    </div>

    <div class="small gray margin-top-xx">Reset</div>
    <div class="margin-top-sm">
      <button id="start-over" @click="reset">Start Over</button>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
  <script type="text/javascript" src="slots.js"></script>
</body>

</html>
